@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg) translateZ(0);
        transform: rotate(0deg) translateZ(0);
    }
    100% {
        -webkit-transform: rotate(360deg) translateZ(0);
        transform: rotate(360deg) translateZ(0);
    }
}

.loading {
    background-size: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 50px;
    animation-name: rotator;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo_title{
  text-align: center;
  text-decoration: overline;
  font-size: 2.5em;
}

.movies {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 100px;
  width: 100%;
  padding-top: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    place-content: center;
    grid-template-columns: 1fr;
    width: 100%;
  }
}


